.git
.gitignore
.husky
.idea
.vscode
**/node_modules
dist
**/dist
coverage
**/coverage
.nx
.turbo
**/.angular
.pytest_cache
**/.pytest_cache
packages/api-server/.venv
**/.venv
packages/api-server/.data
**/.data
.env
.yarn/cache
.yarn/install-state.gz
**/__pycache__
**/*.py[cod]
**/.DS_Store
